@import 'style/colors';

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
.Blur {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: blurEffect 0.6s linear;
}
section .Skewed .Skewed__layer {
  position: fixed;
  width: 100%;
  min-height: 50vw;
}
.Skewed__bottom {
  background: black;
  z-index: 1;
  height: 100vh;
}
.Skewed__top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  transform: skew(-30deg);
  margin-left: -850px;
  width: calc(50vw + 1000px);
}

  input {
    display: block;
    height: 30px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: $trout;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $ghost;
    border-radius: .25rem;
  }
  textarea {
    padding: .375rem .75rem;
    border-radius: .25rem;
    min-height: 150px;
    resize: vertical;
  }
