@import 'style/colors';
@import '~@csstools/normalize.css';

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
.Blur {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: blurEffect 0.6s linear;
}
section .Skewed .Skewed__layer {
  position: fixed;
  width: 100%;
  min-height: 50vw;
}
.Skewed__bottom {
  background: black;
  z-index: 1;
  height: 100vh;
}
.Skewed__top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  transform: skew(-30deg);
  margin-left: -850px;
  width: calc(50vw + 1000px);
}
