@keyframes backEndTech {
  0% {
    content: "Node.js";
  }
  20% {
    content: "Express.js";
  }
  40% {
    content: "MongoDB";
  }
  60% {
    content: "PHP";
  }
  80% {
    content: "CodeIgniter";
  }
  100% {
    content: "MySQL";
  }
}
@keyframes frontEndTech {
  0% {
    content: "HTML 5";
  }
  10% {
    content: "CSS";
  }
  20% {
    content: "Java Script";
  }
  30% {
    content: "Git";
  }
  40% {
    content: "NPM";
  }
  50% {
    content: "jQuery";
  }
  60% {
    content: "Bootstrap";
  }
  70% {
    content: "_lodash";
  }
  80% {
    content: "SASS";
  }
  90% {
    content: "React";
  }
  100% {
    content: "Redux";
  }
}