@import 'style/index.scss';

.contact-map {
  &__text {
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    font-weight: bold;
    &-title {
      font-size: 2rem;
      color: $saffron;
      width: 80%;
      margin: 1.55rem auto;
      @include media-breakpoint-down(md){
        font-size: 1.50rem;
      }
      @include media-breakpoint-down(sm){
        font-size: 1.25rem;
      }
    }
    &-subtitle {
      font-size: 1.45rem;
      color: $saffron;
      @include media-breakpoint-down(md){
        font-size: 1.30rem;
      }
      @include media-breakpoint-down(sm){
        font-size: 1.15rem;
      }
    }
  }
  &__content {
    opacity: 0.65;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}