@import 'style/index.scss';

.about {
  .about__wrapper {
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
    height: 100vh;
  }

  &__layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
  }

  &__content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--left {
      h2 {
        color: $trout;
        font-size: 3rem;
      }
    }
    &--right {
      h2 {
        color: $saffron;
        font-size: 3rem;
      }
    }
  }

  &__bottom {
    background: $codGray;
    z-index: 1;
    height: 100vh;
  }

  &__top {
    background: $white;
    color: $codGray;
    z-index: 2;
    width: 50vw;
    height: 100vh;
  }

  &__row {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}