@import 'style/index.scss';

.about {
  .about__wrapper {
    position: relative;
    width: 100%;
    min-height: 55vh;
    overflow: hidden;
    height: 100vh;
  }

  &__layer {
    position: absolute;
    width: 100vw;
    min-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    &--left {
      h2 {
        color: $trout;
        font-size: 3rem;
      }
    }
    &--right {
      h2 {
        color: $saffron;
        font-size: 3rem;
      }
    }
  }
  &__row {
    margin-top: 3.5rem;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &-image {
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &-me {
      background-image: url('../../assets/image/me.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
      width: 100%;
      max-height: 500px;
      max-width: 500px;
      box-shadow: 0px -2px 16px -1px rgba(0,0,0,0.61);
    }
    &-desc {
      display: flex;
      flex-direction: column;
      &-content {
        margin: 0 auto;
        max-width: 650px;
        padding-bottom: 3rem;

      }
      h2 {
        margin-top: 0;
        text-align: left;
        width: 100%;
        border-bottom: 2px solid $trout;
      }
      p {
        max-width: 700px;
        font-size: 1.25rem;
        &:first-of-type {
          font-size: 1.45rem;
          color: rgba($color: $trout, $alpha: 0.7);
        }
      }
    }
  }

  &__bottom {
    background: $codGray;
    z-index: 1;
    height: 100vh;
  }

  &__top {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: $white;
    color: $codGray;
    z-index: 2;
    width: 50vw;
    height: 100vh;
  }
}